{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">

    <script src="{% static 'core/js/htmx2.0.4.min.js' %}" defer></script>
    <script src="{% static 'core/js/alpine3.14.8.min.js' %}" defer></script>

    {% block head %}{% endblock %}
</head>

<body>

    {% block content %}{% endblock %}

    {% block scripts %}{% endblock %}

</body>

</html>