{% for radio in object_list %}
<div class="flex h-28 border rounded-lg shadow-md items-start cursor-pointer" data-radio-index="{{forloop.counter0}}"
    data-radio-url="{{radio.link}}" data-radio-img="{{radio.img.url}}" data-radio-name="{{radio.name}}"
    @click="changeAudio({{ forloop.counter0 }})">

    <div class="w-28 h-full">
        <img class="object-cover h-full w-full rounded-l-lg" src="{{radio.img.url}}" alt="{{radio.name}}">
    </div>

    <div class="flex-1 pl-4 pt-2">
        <h2 class="text-2xl font-bold text-gray-800">{{radio.name}}</h2>

        <div class="flex gap-2 items-center">
            <span class="text-sm font-light text-gray-400">Oyentes: </span>
            <span class="text-sm font-semibold text-gray-800">{{ radio.listeners }}</span>
        </div>
    </div>


    <div class="flex h-full items-end pb-2 pr-4">
        <button type="button"
            class="h-9 w-14 rounded-full bg-gray-800 hover:shadow-lg flex justify-center items-center gap-2">
            <span class="text-white text-xs">Play</span>
        </button>
    </div>

</div>

{% if forloop.counter0|add:1|divisibleby:3 %}
<div class="h-[60px] w-[468px] my-4 mx-auto ad-container" data-ad-key="a7b7f7faf9e352d883b81427ab245acd">
</div>
{% endif %}

{% endfor %}

<script>
    document.addEventListener("htmx:afterSwap", function () {
        // Vuelve a inicializar el IntersectionObserver después de que HTMX haya actualizado el contenido
        document.querySelectorAll('.ad-container').forEach(container => {
            const observer = new IntersectionObserver((entries) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        const key = entry.target.dataset.adKey;
                        const script = document.createElement('script');
                        script.innerHTML = `
                            atOptions = { key: '${key}', format: 'iframe', height: 60, width: 468 };
                        `;
                        entry.target.appendChild(script);
                        const invokeScript = document.createElement('script');
                        invokeScript.src = `//www.highperformanceformat.com/${key}/invoke.js`;
                        entry.target.appendChild(invokeScript);
                        observer.unobserve(entry.target);
                    }
                });
            });
            observer.observe(container);
        });
    });
</script>